@import "tailwindcss";
@plugin "daisyui";

* {
  scrollbar-width: thin;
  scrollbar-color: #e50914 #000000;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background: #e50914;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #ff1b2d;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
