@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.uno-gradient-bg {
  background: radial-gradient(
    circle at top,
    #771e1e 0,
    #2a0f0f 45%,
    #170202 100%
  );
}

.uno-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.uno-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.uno-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.8);
  border-radius: 9999px;
}

.uno-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 1);
}

.uno-glow {
  box-shadow: 0 0 30px rgba(52, 211, 153, 0.6);
}

.uno-pulse-slow {
  animation: uno-pulse 2s infinite;
}

@keyframes uno-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-spin-slow {
	animation: spin 5s linear infinite;
}

.animate-spin-slow-reverse {
	animation: spin 5s linear infinite reverse;
}
